.container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 0 10%;
}

.asset {
  width: 50%;
  height: auto;
  aspect-ratio: 1;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.content.visible {
  opacity: 1;
  transform: translateY(0);
}

.content p {
  white-space: pre-wrap;
  word-break: keep-all;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--font-color);
}

.appStore {
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .asset {
    width: 100%;
  }
}
